header {
    background-color: white;
    width: 100%;
    border: 0 0 5px 0; 
    border-color:#cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: relative;
    margin: 0; 
    height: 100px;
}
h1 {
    position: relative;
    background-color: #4aaaa5; 
    color:white;
    width:300px; 
    height: 90px;
    margin:0 0 0 190px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
nav {
    color:#777777;
    position: absolute;
    margin: 0;
    top:30%;
    left: 70%;


} 
body {
    background-image: url("../images/white-waves.png");
}
p {
    float: left;
    color:#777777;

}

h2 {
    color:#4aaaa5;
   padding-left: 20px;
   border-bottom: 2px solid lightgray;
}
/* main bio paragraph*/
article {
    border:solid;
    border-color: #dddddd;
    width: 960px;
    height: 500;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-sizing:border-box;


}
footer {
    background-color: #666666;
    text-align: center;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    border-top: 8px solid #4aaaa5;

}
/*pics section*/
section {
    margin:0 auto;
    width:960px;
    overflow: auto;
    background-color:#ffffff;
    border:solid;
    border-color: #dddddd;
    box-sizing:border-box;

}
.images {
    position: relative;
    float: left;
    width:33.3%;
    padding:20px;
}
/*project names*/
p {
    position: relative;
    top: -80px;
    background-color: #4aaaa5;
    width:300px;
    height:50px;
    text-align: center;
    color: white;

}
.image1 .image2 .image3 .image 4 .image5{
    width:300px;
}
form{
    width: 960px;
    margin: 0 auto; 
    padding-left: 20px;
    line-height: 20px;
    box-sizing:border-box;

}
.button{
    background-color: #4aaaa5;
    color:white;
    width: 80px;
    height: 20px;
    
}