nav {
    position: absolute;
    color:#777777;
    background-color: white;
    width: 100%;
    border-bottom: solid #777777;
    margin: 0 0 100px 0; 
    border-color:#cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 100px;
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
} 
h1 {
    position: absolute;
    z-index: 2;
    background-color: #4aaaa5; 
    color:white;
    width:300px; 
    height: 80px;
    text-align: center;
    margin: 0 0 0 200px; 
    padding-top: 20px;
    box-sizing: border-box;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {

    color:#4aaaa5;
   padding-left: 0px;
   border-bottom: 2px solid lightgray;
   font-size: 30px;
}
body {
    width: 100%;
    background-color: #ffffff;
    background-image: url("../images/white-waves.png");
}
article{
    margin:0 auto;
    width:960px;
    overflow: auto;
    background-color:#ffffff;
    border:solid;
    border-color: #dddddd;
    box-sizing:border-box;
    padding:100px;


}
form{ 
    width: 960px;
    margin: 0 auto; 
    padding-left: 20px;
    padding-top: 100px;
    line-height: 20px;
    box-sizing:border-box;
    background-color: #ffffff

}
footer {
    position: absolute;
    background-color: #666666;
    text-align: center;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    border-top: 8px solid #4aaaa5;

}
/*pics section*/
section {
    margin:0 auto;
    width:960px;
    overflow: auto;
    background-color:#ffffff;
    border:solid;
    border-color: #dddddd;
    box-sizing:border-box;
    padding:100px;

}
.images {
    position: relative;
    float: left;
    width:33.3%;
    padding:30px;
}
/*project names*/
p {
    position: relative;
    top: -80px;
    background-color: #4aaaa5;
    width:300px;
    height:50px;
    text-align: center;
    color: white;

}
.image1 .image2 .image3 .image4 .image5{
    width:300px;
}

.button{
    background-color: #4aaaa5;
    color:white;
    width: 80px;
    height: 20px;
    
}